<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="http://davidnbotte.space/learn/announcements/index.html">Announcements</a></p>
      <p><a href="http://davidnbotte.space/learn/resources/index.html">Resources for All Levels</a></p>
      <p><a href="http://davidnbotte.space/learn/business/index.html">Business English</a></p>
      <p><a href="http://davidnbotte.space/learn/blog/index.html">Blog</a></p>
      <!--<p><a href="#">Link</a></p>-->
    </div>
    <div class="col-sm-8 text-left"> 
      <h1 style="text-align:center">Welcome to Learning English</h1>
      <h4 style="text-align:center">with David Botte</h4>
	<hr/>
      <p>Here you will find a variety of resources for teaching and learning English.</p>
      <p>Some are listed <a href="http://davidnbotte.space/learn/resources/bylevel.html">by level</a>, while others by <a href="http://davidnbotte.space/learn/resources/bytype.html">skill type</a> (reading, listeing, etc.). </p>
      <p></p>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <a href="http://www.cambridgeacademyfoggia.it/"><p>Cambridge Academy</p></a>
      </div>
      <div class="well">
        <a href="http://davidnbotte.space"><p>DNBotte Solutions</p></a>
      </div>
    </div>
  </div>
</div>
